<phpunit bootstrap="tests/bootstrap.php"
         colors="true">

  <testsuites>
    <testsuite name="FeiYuCRM Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>./src/</directory>
      <exclude>
        <directory>./vendor/</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="./clover.xml"/>
  </logging>

</phpunit>